<h1>Explore our gallery</h1>

<script>
    $("#zoom_05").elevateZoom({
    zoomType: "inner",
    cursor: "crosshair"
    });
</script>

<% @photos = @photos.paginate(:page => params[:page], :per_page => 6).order('id DESC') %>
    <% @photos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.compact.each do |photo| %>
          <div class="col-xs-4">
            <% if photo.file.present? %>
                <%= link_to image_tag(photo.file_url, :width => '100%', :id => "zoom_05"), photo%>
            <% else %>
                <%= link_to image_tag('https://res.cloudinary.com/hbp1mcgsv/image/upload/v1490105597/no-image_g3dnks.jpg', :width => '60%'), photo%>
            <% end %>
            <div class="likes">
                <% if current_user %>
                        <% if current_user.email != photo.user.email %>
                            <% if photo.likes.exists?(user_id: current_user.id) %>
                                <%= link_to unlike_photo_path(photo), method: :delete do %>
                                    <button class="btn btn-danger">
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <%= pluralize(photo.likes.count, 'like') %>
                                    </button>
                                <% end %>
                            <% else %>
                                <%= link_to like_photo_path(photo), method: :post do %>
                                    <button class="btn btn-success">
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <%= pluralize(photo.likes.count, 'like') %>
                                    </button>
                                <% end %>
                            <% end %>
                        <% else %>
                                    <span class="badge"><span class="glyphicon glyphicon-heart"></span>
                                        <%= pluralize(photo.likes.count, 'like') %>
                                    </span>
                        <% end %>
                    <% else %>
                        <span class="badge"><span class="glyphicon glyphicon-heart"></span>
                            <%= pluralize(photo.likes.count, 'like') %>
                        </span>
                  <% end %>

            </div>
            <h4><%= link_to photo.title, photo %></h4>
            <%-#<%= photo.description %>
          </div>
        <% end %>
      </div>
    <% end %>
<%= will_paginate @photos %>
