<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-9">
    <% if @photo.file.present? %>
        <%= image_tag(@photo.file_url, :width => "80%", :id => "zoom_03") if @photo.file.present? %>
    <% else %>
        <%= image_tag('https://res.cloudinary.com/hbp1mcgsv/image/upload/v1490105597/no-image_g3dnks.jpg', :width => "25%")%>
    <% end %>
    <script>
      $("#zoom_03").elevateZoom(
        {
          scrollZoom: "True",tint:true, tintColour:'#F000', tintOpacity:0.7, zoomWindowPosition: 6,zoomWindowHeight: 200, zoomWindowWidth:200, easing:true
        }
      );
    </script>
  </div>

  <div class="col-xs-3">
    <div class="photo_text">
        <p><b>Title: </b><%= @photo.title%></p>
        <p><b>Description: </b><%= @photo.description %></p>
        <p><b>Author: </b><%= @photo.user.email %></p>
    </div>
    <p>
        <% if current_user %>
                <% if current_user.email != @photo.user.email %>
                    <% if @photo.likes.exists?(user_id: current_user.id) %>
                        <%= link_to unlike_photo_path(@photo), method: :delete do %>
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-heart"></span>
                                <%= pluralize(@photo.likes.count, 'like') %>
                            </button>
                        <% end %>

                    <% else %>
                        <%= link_to like_photo_path(@photo), method: :post do %>
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-heart"></span>
                                <%= pluralize(@photo.likes.count, 'like') %>
                            </button>
                        <% end %>
                    <% end %>
                <% else %>
                        <span class="badge"><span class="glyphicon glyphicon-heart"></span>
                            <%= pluralize(@photo.likes.count, 'like') %>
                        </span>
                <% end %>
            <% else %>
                <span class="badge"><span class="glyphicon glyphicon-heart"></span>
                    <%= pluralize(@photo.likes.count, 'like') %>
                </span>
          <% end %>
      </p>



    <p>
        <button class="btn btn-warning">
          <%= link_to 'Edit', edit_photo_path(@photo) %>
        </button>
        <button class="btn btn-danger">
            <%= link_to 'Delete', @photo, confirm: 'Are you sure?', method: :delete %>
        </button>
        <button class="btn btn-info">
            <%= link_to 'Back', photos_path %>
        </button>
    </p>
  </div>
</div>

  <%= render "comments/comment" %>
